*{
    padding: 0;
    margin: 0;
    text-align: center;

}
h2{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
a{
    font-size: 2rem;
}
body{
    background-image: url(../imgs/trex.gif);
    background-size: auto;
    align-items: left;
    flex-direction: column;
}
.imagendearriba1{
    display: inline-block;
        
}

.imagendearriba2{
    display: inline-block;
}

.links{
    display: inline-block;
    width: fit-content;
    padding: 2%;
    background-color: rgb(223, 172, 243);
    border-radius: 15px;
    border-style: ridge;
    border-color: rgb(92, 24, 119);
    
    
}