<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarDocente</servlet-name>
        <servlet-class>AgregarDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMaquina</servlet-name>
        <servlet-class>AgregarMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarReportes</servlet-name>
        <servlet-class>ConsultarReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvPersona</servlet-name>
        <servlet-class>Servlet.SrvPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvrMaquina</servlet-name>
        <servlet-class>Servlet.SrvMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SrvReporte</servlet-name>
        <servlet-class>Servlet.SrvReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarDocente</servlet-name>
        <url-pattern>/AgregarDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMaquina</servlet-name>
        <url-pattern>/AgregarMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarReportes</servlet-name>
        <url-pattern>/ConsultarReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvPersona</servlet-name>
        <url-pattern>/SrvPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvrMaquina</servlet-name>
        <url-pattern>/SvrMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SrvReporte</servlet-name>
        <url-pattern>/SrvReporte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
